input.replace-apos{
    position: fixed !important; 
    top: 10% !important;
    left: 0% !important;
    font-size: 8px !important;
}

input.homework{
    position: fixed !important; 
    top: 13% !important;
    left: 0% !important;
    font-size: 8px !important;
}

input.welcome{
    position: fixed !important; 
    top: 16% !important;
    left: 0% !important;
    font-size: 8px !important;
}

input.accent{
    position: fixed !important; 
    top: 19% !important;
    left: 0% !important;
    font-size: 8px !important;    
}